<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best SmartPhone Brands</p>
      <h1><span>Mobile </span> Mart</h1>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="card"></div>
      <div class="card-main">
        <div class="discount">-9% off</div>
        <div class="label label-green">pre-order</div>
      <div class="Product-Container">
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/lap.jpg" alt="Product"></div>
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/watch.webp" alt="Product"></div>
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/phone.jpg" alt="Product"></div>
      </div>
      <div class="image">
        <img src="{{url}}" alt="Image">
      </div>
      <div class="cart-line"></div>
      <div class="cart-item">
        <ul>
          <li><a href=""><i class="fa fa-shopping-basket">🛍️</i></a></li>
          <li><a href=""><i class="fa fa-heart">❤️</i></a></li>
          <li><a href=""><i class="fa fa-search">🔎</i></a></li>
        </ul>
      </div>
      </div>
     <div class="content">
      <a href="">incidid Tongue Bar</a>
     <div class="rating">
      <i class="fa fa-star">⭐</i>
      <i class="fa fa-star">⭐</i>
      <i class="fa fa-star">⭐</i>
      <i class="fa fa-star">⭐</i>
      <i class="fa fa-star">⭐</i>
     </div>
     <p><span class="money">79999Rs</span> <span class="old-price">98999Rs</span></p>
     </div>
    </div> 
 
  </div>
</section>